html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-beige {
    background-color: #F2EFE5;
}
.bg-custom {
    background-color: #E3E1D9;
}
.bg-footer-custom {
    background-color: #F2EFE5;
    padding: 5px; /* Ýsteðe baðlý olarak padding ekleyebilirsiniz */
    text-align: center; /* Metni ortalayabilirsiniz */
    color: black; /* Metin rengini ayarlayabilirsiniz */
}
